/*-----------------------
    Common CSS
-------------------------*/

* {
  margin: 0px;
  padding: 0px;
}

html {
  color: #d6d6d6;
  padding: 0px;
  margin: 0 auto;
  font-weight: 400;
}

body {
  margin: 0px auto;
  padding: 0px;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  padding: 0;
  margin: 0px;
}

textarea {
  resize: none !important;
}

button,
select {
  cursor: pointer;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
  display: block;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

._toggler {
  box-shadow: none !important;
  border: none !important;
}

._toggler.collapsed .navbar-toggler-icon {
  background-image: url(../../assets/img/toggler.svg) !important;
  transition: 0.1s all ease-in-out;
}

._toggler .navbar-toggler-icon {
  background-image: url(../../assets/img/cross.svg) !important;
  transition: 0.1s all ease-in-out;
}

.dropdown-toggle::after {
  display: none;
}

/*-----------------------
  Common CSS
-------------------------*/

/*-----------------------
  Website 1 starts
-------------------------*/

._hero_1_root_wrapper {
  background: #faf9ff;
}

._logo_wrap {
  max-width: 100px;
}

._nav_logo {
  display: inline-block;
}

._hero_1_root_nav {
  margin-left: 20px;
}

._hero_1_root_nav_right {
  align-items: center;
  margin-left: auto;
}

._hero_1_root_navbar {
  background: transparent !important;
  padding: 20px 0 0;
}

._hero_1_root_nav_item {
  margin: 0 10px;
}

._hero_1_root_nav_link {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #2a3052 !important;
}

._hero_1_root_nav_link:hover {
  color: #65697a !important;
}

._active {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #2a3052 !important;
}

._trial_btn {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #f8faff !important;
  background: linear-gradient(90deg, #2a50ff 0%, #2a89ff 100%);
  border-radius: 4px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
}

._login {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #131c43 !important;
}

._hero_1_root_wrap {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

._hero_1_root_pattern_wrap {
  max-width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

._hero_1_root_left_wrap {
  position: relative;
  z-index: 10;
}

._hero_1_root_left_subhead {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #080809;
}

._hero_1_root_left_head {
  font-family: Inter;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #0e1536;
  margin: 16px 0 20px;
}

._hero_1_root_left_txt {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #65697a;
  margin: 20px 0 40px;
  max-width: 80%;
}

._hero_1_root_left_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #f8faff;
  background: linear-gradient(90deg, #2a50ff 0%, #2a89ff 100%);
  border-radius: 4px;
  width: 170px;
  padding: 20px;
  transition: 0.2s all ease;
  margin: 40px 0 0;
}

._hero_1_root_left_btn:hover {
  color: #faf9ff;
  transform: scale(1.1);
}

._hero_1_root_right_wrap {
  position: relative;
  z-index: 10;
}

._hero_1_root_right_img_wrap {
  margin-right: -80px;
  box-shadow: -50px 60px 200px -49px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

/*--------------
  Responsive
---------------*/

/* Desktop/Laptop */

@media only screen and (max-width: 1500px) {
  ._hero_1_root_right_img_wrap {
    margin-right: -30px;
  }
}

@media (max-width: 1399px) {
  ._hero_1_root_right_img_wrap {
    margin-right: -50px;
  }
}

/* Desktop/Laptop */

/* Ipad pro */

@media only screen and (max-width: 1199px) {
}

/* Ipad pro */

@media only screen and (max-width: 991px) {
  ._hero_1_root_nav {
    margin-left: 0;
  }
  ._hero_1_root_nav_item {
    margin: 10px 0;
  }
  ._hero_1_root_nav_link {
    width: fit-content;
    margin: 0 auto;
  }
  .dropdown-item {
    text-align: center;
  }
  .dropdown-menu {
    width: fit-content;
    margin: 0 auto;
    transition: 0.2s all ease;
  }
  .dropdown-menu.show {
    transition: 0.2s all ease;
  }
  ._hero_1_root_left_wrap {
    text-align: center;
  }
  ._hero_1_root_left_txt {
    margin: 20px auto 40px;
  }
  ._hero_1_root_left_btn {
    margin: 40px auto 0;
  }
  ._hero_1_root_right_wrap {
    margin: 20px 0 0;
  }
  ._hero_1_root_right_img_wrap {
    margin-right: 0;
  }
}

/* Ipad pro */

/* Ipad/Mobile L */

@media only screen and (max-width: 767px) {
  ._hero_1_root_left_txt {
    max-width: 100%;
  }
}

/* Ipad/Mobile L */

/* Mobile */

@media only screen and (max-width: 575px) {
  ._hero_1_root_left_head {
    font-size: 46px;
    margin: 8px 0 10px;
  }
  ._hero_1_root_left_txt {
    margin: 10px auto 20px;
  }
  ._hero_1_root_right_img_wrap {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 420px) {
  ._hero_1_root_left_head {
    font-size: 34px;
  }
  ._hero_1_root_wrap {
    padding: 50px 0 0;
  }
  ._hero_1_root_right_img_wrap {
    max-width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  ._hero_1_root_right_img_wrap {
    max-width: 100%;
  }
}

/* Mobile */

/*------------------
  Responsive Ends
------------------*/

/*-----------------------
    Collaboration start
-------------------------*/

._collab_1_root_sec {
  padding: 80px 0 0;
}

._collab_1_root_title {
  font-family: Inter;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
  color: #131c43;
}

._collab_1_root_txt {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #65697a;
  margin: 12px 0 0;
}

._collab_1_root_card1_ic_wrap {
  max-width: 57px;
  background: #d7ecff;
  border-radius: 10px;
  padding: 16px;
}

._collab_1_root_card2_ic_wrap {
  max-width: 57px;
  background: #f9edc4;
  border-radius: 10px;
  padding: 16px;
}

._collab_1_root_card3_ic_wrap {
  max-width: 57px;
  background: #c0dcda;
  border-radius: 10px;
  padding: 16px;
}

._collab_1_root_card_con {
  margin: 30px 0 0;
}

._collab_1_root_card_wrap {
  margin: 50px 0 0;
}

._collab_1_root_card {
  border: 1.2px solid #eae9f0;
  box-sizing: border-box;
  border-radius: 12px;
  transition: 0.2s all ease;
  margin: 20px 0;
  height: calc(100% - 30px);
}

._collab_1_root_card:hover {
  background: #ffffff;
  box-shadow: 0px 50px 80px -10px rgba(0, 4, 19, 0.06);
  border: 1.2px solid transparent;
}

._collab_1_root_card_inner {
  padding: 40px;
}

._collab_1_root_card_con_title {
  font-family: Inter;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #192140;
  margin: 0 0 15px;
}

._collab_1_root_card_con_txt {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #65697a;
  margin: 15px 0 24px;
}

._collab_1_root_card_con_link {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #9ea2b1;
}

._collab_1_root_card_con_link:hover {
  color: #3e62fe !important;
}

._collab_1_root_card_con_link svg {
  margin-left: 5px;
}

._collab_1_root_card_con_link svg path {
  transition: 0.2s all ease;
}

._collab_1_root_card_con_link:hover svg path {
  fill: #3e62fe;
}

/*--------------
  Responsive
---------------*/

/* Desktop/Laptop */

@media only screen and (max-width: 1500px) {
}

@media (max-width: 1399px) {
}

/* Desktop/Laptop */

/* Ipad pro */

@media only screen and (max-width: 1199px) {
  ._collab_1_root_card_inner {
    padding: 30px;
  }
}

/* Ipad pro */

@media only screen and (max-width: 991px) {
  ._collab_1_root_title {
    font-size: 44px;
  }
  ._collab_1_root_card {
    max-width: 90%;
    margin: 20px auto;
  }
}

/* Ipad pro */

/* Ipad/Mobile L */

@media only screen and (max-width: 767px) {
  ._collab_1_root_card {
    max-width: 70%;
  }
}

/* Ipad/Mobile L */

/* Mobile */

@media only screen and (max-width: 575px) {
  ._collab_1_root_title {
    font-size: 38px;
  }
}

@media only screen and (max-width: 420px) {
  ._collab_1_root_title {
    font-size: 32px;
  }
  ._collab_1_root_card {
    max-width: 90%;
  }
}

@media only screen and (max-width: 375px) {
  ._collab_1_root_card {
    max-width: 100%;
  }
}

/* Mobile */

/*------------------
  Responsive Ends
------------------*/

/*-----------------------
  Collaboration ends
-------------------------*/

/*-----------------------
    Cta start
-------------------------*/

._cta_1_root_sec {
  padding: 80px 0 60px;
}

._cta_1_root_main_wrap {
  background: #faf9ff;
  padding: 60px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

._cta_1_root_head {
  font-family: Inter;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.01em;
  color: rgb(5, 3, 3);
  max-width: 70%;
  margin: 0 auto 20px;
}

._cta_1_root_txt {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: -0.01em;
  color: #555866;
  max-width: 70%;
  margin: 20px auto 40px;
}

._cta_1_root_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #f8faff;
  background: linear-gradient(90deg, #2a50ff 0%, #2a89ff 100%);
  border-radius: 4px;
  width: 170px;
  padding: 20px;
  transition: 0.2s all ease;
  margin: 40px auto 0;
}

._cta_1_root_btn:hover {
  color: #dfcece;
  transform: scale(1.1);
}

/*--------------
  Responsive
---------------*/

/* Desktop/Laptop */

@media only screen and (max-width: 1500px) {
}

@media (max-width: 1399px) {
}

/* Desktop/Laptop */

/* Ipad pro */

@media only screen and (max-width: 1199px) {
  ._cta_1_root_head {
    max-width: 80%;
  }
  ._cta_1_root_txt {
    max-width: 80%;
  }
}

/* Ipad pro */

@media only screen and (max-width: 991px) {
  ._cta_1_root_head {
    max-width: 100%;
    font-size: 30px;
  }
  ._cta_1_root_txt {
    max-width: 100%;
  }
}

/* Ipad pro */

/* Ipad/Mobile L */

@media only screen and (max-width: 767px) {
  ._cta_1_root_main_wrap {
    padding: 50px 40px;
  }
  ._cta_1_root_head {
    font-size: 26px;
  }
}

/* Ipad/Mobile L */

/* Mobile */

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 420px) {
}

@media only screen and (max-width: 375px) {
  ._cta_1_root_main_wrap {
    padding: 50px 20px;
  }
  ._cta_1_root_head {
    font-size: 22px;
  }
}

/* Mobile */

/*------------------
  Responsive Ends
------------------*/

/*-----------------------
  Cta ends
-------------------------*/

/*-----------------------
    Footer start
-------------------------*/

._footer_1_root_wrapper {
  padding: 120px 0 0;
}

._footer_1_root_left_img_wrap {
  max-width: 110px;
}

._footer_1_root_left_txt {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #65697a;
  margin: 24px 0 20px;
  max-width: 60%;
}

._footer_1_root_left_social_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 30%;
}

._footer_1_root_left_social_link {
  max-width: 20px;
}

._footer_1_root_product_wrap {
  width: fit-content;
  margin: 0 auto;
}

._footer_1_root_product_title {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #192140;
}

._footer_1_root_product_list_wrap {
  list-style: none;
  margin: 24px 0 0;
}

._footer_1_root_product_list_item {
  margin: 13px 0;
}

._footer_1_root_product_list_link {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #737684;
}

._footer_1_root_service_title {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #192140;
}

._footer_1_root_service_list_wrap {
  list-style: none;
  margin: 24px 0 0;
}

._footer_1_root_service_list_item {
  margin: 13px 0;
}

._footer_1_root_service_list_link {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #737684;
}

._footer_1_root_solution_title {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #192140;
}

._footer_1_root_solution_list_wrap {
  list-style: none;
  margin: 24px 0 0;
}

._footer_1_root_solution_list_item {
  margin: 13px 0;
}

._footer_1_root_solution_list_link {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #737684;
}

._footer_1_root_solution_copyright {
  border-top: 1px solid #e5e4eb;
  padding: 30px 0;
  margin: 30px 0 0;
}

._footer_1_root_solution_copyright_txt {
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: -0.02em;
  color: #989aa7;
}

/*-----------------------
  Footer ends
-------------------------*/

/*--------------
  Responsive
---------------*/

/* Desktop/Laptop */

@media only screen and (max-width: 1500px) {
}

@media (max-width: 1399px) {
}

/* Desktop/Laptop */

/* Ipad pro */

@media only screen and (max-width: 1199px) {
  ._footer_1_root_left_txt {
    max-width: 80%;
  }
}

/* Ipad pro */

@media only screen and (max-width: 991px) {
  ._footer_1_root_product_wrap {
    width: auto;
    margin: 20px 0;
  }
  ._footer_1_root_service_wrap {
    margin: 20px 0;
  }
  ._footer_1_root_solution_wrap {
    margin: 20px 0;
  }
}

/* Ipad pro */

/* Ipad/Mobile L */

@media only screen and (max-width: 767px) {
}

/* Ipad/Mobile L */

/* Mobile */

@media only screen and (max-width: 575px) {
  ._footer_1_root_wrapper {
    padding: 50px 0 0;
  }
}

@media only screen and (max-width: 420px) {
}

@media only screen and (max-width: 375px) {
}

/* Mobile */

/*------------------
  Responsive Ends
------------------*/

/*-----------------------
  Website 1 ends
-------------------------*/
/* 
Website 2 started 
*/

/*header aihut section*/
._header_2_aihut_wrapper {
  margin: 15px 0 100px;
}
._header_2_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
._logo_img {
  max-width: 94px;
}
._header_2_aihut_nav_ul {
  margin: auto;
  align-items: center;
}
._header_2_aihut_nav_li {
  margin: 0 30px 0 0;
}
._header_2_aihut_nav_li:last-child {
  margin: 0;
}
._header_2_aihut_nav_itm {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #1f3428;
  display: inline-block;
  transition: 0.2s all ease;
  padding: 0;
}
._header_2_aihut_nav_itm:hover {
  color: #3d85ff;
}
.navbar-light .navbar-nav .nav-link {
  color: #1f3428 !important;
}
#navbarDropdown1 {
  color: #3d85ff !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #3d85ff !important;
}
._header_2_aihut_nav_itm:hover svg path {
  stroke: #3d85ff;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #3d85ff !important;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  border: 0;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
.dropdown-menu {
  background-color: #dfcece !important;
}
._header_2_aihut_nav_r8_ul {
  align-items: center;
}
._login_2_btn {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #001f0e;
  display: inline-block;
  transition: 0.2s all ease;
}
._login_2_btn:hover {
  color: #3d85ff;
}
._header_2_aihut_nav_r8_li1 {
  margin: 0 0 0 24px;
}
._signup_2_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
  border: 1px solid transparent;
  background: #ff7752;
  border-radius: 6px;
  width: 94px;
  height: 40px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}
._signup_2_btn:hover {
  border-color: #ff7752;
  color: #ff7752;
  background: transparent;
}
._header_2_aihut_cont_wrap {
  margin: 76px 0 0;
}
._header_2_aihut_lft_t {
  font-family: PlusJakartaDisplay;
  font-weight: 700;
  font-size: 58px;
  line-height: 1.2;
  color: #001f0e;
  max-width: 74%;
  margin: 0 0 18px;
  position: relative;
}
._header_2_aihut_lft_t::before {
  position: absolute;
  content: "";
  background-image: url("../../assets/img/hero/hero_2_star.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 46px;
  height: 46px;
  top: 35px;
  right: -20px;
}
._header_2_aihut_lft_p {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #808f87;
  max-width: 71%;
  margin: 0 0 30px;
}
._header_2_aihut_lft_inpt_wrap {
  position: relative;
  width: fit-content;
  margin: 0 0 13px;
}
._header_2_aihut_lft_inpt {
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  border-radius: 6px;
  width: 374px;
  height: 54px;
  padding: 12px 135px 12px 14px;
  color: #000;
}
._header_2_aihut_lft_inpt::placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #808f87;
}
._header_2_aihut_lft_inpt_btn {
  position: absolute;
  top: 6px !important;
  right: 7px !important;
  border: 0;
  background: #001f0e;
  border-radius: 6px;
  width: 126px;
  height: 42px;
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
}
._header_2_aihut_lft_inpt_btn:hover {
  background: #154e2f;
  color: #fff;
}
._header_2_aihut_lft_feat {
  display: flex;
  align-items: center;
}
._header_2_aihut_lft_feat_p {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #ff7752;
}
._header_2_aihut_lft_feat_dot {
  background: #ff7752;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}
._header_2_aihut_r8_img {
  max-width: 100%;
}
._header_2_aihut_bottom_ics_wrap {
  margin: 66px 0 0;
}
._header_2_aihut_bottom_ics {
  border-bottom: 2px solid #e5e5e5;
  padding: 0 0 18px;
}
._header_2_aihut_bottom_ic_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
._header_2_aihut_bottom_ic {
  margin: 0 0 0 80px;
}
._header_2_aihut_bottom_ic:first-child {
  margin: 0;
}
._header_2_aihut_bottom_ic1 {
  max-width: 100px;
  object-fit: contain;
}
/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {
}
@media (max-width: 1399px) {
  ._header_2_aihut_lft_t {
    max-width: 85%;
  }
  ._header_2_aihut_lft_p {
    max-width: 84%;
  }
}
/* Desktop/Laptop */
@media only screen and (max-width: 1199px) {
  ._header_2_aihut_lft_t {
    max-width: 100%;
    font-size: 54px;
  }
  ._header_2_aihut_lft_p {
    max-width: 100%;
  }
  ._header_2_aihut_bottom_ic {
    margin: 0 0 0 50px;
  }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
  ._header_2_aihut_nav_ul {
    align-items: initial;
    text-align: center;
  }
  ._header_2_aihut_nav_itm_ul {
    text-align: center;
  }
  ._header_2_aihut_nav_li {
    margin: 0 0 10px;
  }
  ._header_2_aihut_nav_li:last-child {
    margin: 0 0 10px;
  }
  ._header_2_aihut_nav_r8_li1 {
    margin: 10px 0 10px;
  }
  ._header_2_aihut_cont_wrap {
    margin: 30px 0 0;
  }
  ._header_2_aihut_lft_t {
    font-size: 47px;
    text-align: center;
  }
  ._header_2_aihut_lft_t::before {
    right: 7%;
  }
  ._header_2_aihut_lft_p {
    text-align: center;
    font-size: 15px;
  }
  ._header_2_aihut_lft_inpt_wrap {
    margin: 0 auto 20px;
  }
  ._header_2_aihut_lft_feat {
    justify-content: center;
    margin: 0 0 50px;
  }
  ._header_2_aihut_bottom_ic {
    margin: 0 0 0 20px;
  }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
  ._header_2_aihut_lft_t {
    font-size: 33px;
  }
  ._header_2_aihut_bottom_ic {
    margin: 10px;
  }
}
/* Mobile */
@media only screen and (max-width: 575px) {
}
@media only screen and (max-width: 420px) {
  ._header_2_aihut_wrapper {
    margin: 14px 0 60px;
  }
  ._header_2_aihut_lft_t {
    font-size: 25px;
  }
  ._header_2_aihut_lft_p {
    font-size: 14px;
  }
  ._header_2_aihut_lft_inpt {
    width: 100%;
    padding: 12px 120px 12px 14px;
  }
  ._header_2_aihut_lft_inpt_btn {
    width: 100px;
    font-size: 12px;
  }
  ._header_2_aihut_cont_wrap {
    margin: 20px 0 0;
  }
}
@media only screen and (max-width: 375px) {
  ._header_2_aihut_lft_t::before {
    right: -3%;
  }
}
/*header aihut section end*/
/*feature_2 aihut section*/
._feature_2_aihut_wrapper {
  padding: 80px 0 90px;
}
._feature_2_aihut_lft_t {
  font-family: PlusJakartaDisplay;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.2;
  color: #001f0e;
  margin: 0 0 22px;
  max-width: 62%;
}
._feature_2_aihut_lft_t_sp {
  color: #3d85ff;
}
._feature_2_aihut_lft_p {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #808f87;
  max-width: 69%;
  margin: 0 0 30px;
}
._feature_2_aihut_lft_a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._feature_2_aihut_lft_a1 {
  width: 144px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #3d85ff;
  border: 1px solid #3d85ff;
  box-sizing: border-box;
  border-radius: 6px;
}
._feature_2_aihut_lft_a1 svg {
  margin: 0 0 0 6px;
  transition: 0.2s all ease;
}
._feature_2_aihut_lft_a1 svg path {
  transition: 0.2s all ease;
}
._feature_2_aihut_lft_a1:hover {
  border-color: transparent;
  background: #3266be;
  color: #fff;
}
._feature_2_aihut_lft_a1:hover svg {
  transform: translateX(5px);
}
._feature_2_aihut_lft_a1:hover svg path {
  stroke: #fff !important;
}
._feature_2_aihut_r8_wrap {
  position: relative;
  z-index: 10;
}
._feature_2_aihut_r8_wrap::before {
  position: absolute;
  content: "";
  z-index: -1;
  background-image: url("../../assets/img/feature/feature_2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 379px;
  height: 553px;
  top: 0;
  right: 0;
}
._feature_2_aihut_r8_wrap_part1 {
  margin: 81px 0 0;
}
._feature_2_aihut_r8_wrap_part2 {
  margin: 31px 0 0;
}
._feature_2_aihut_r8_crd1,
._feature_2_aihut_r8_crd2 {
  background: #fff;
  box-shadow: -16px 27px 50px -10px rgba(129, 80, 69, 0.08);
  border-radius: 10px;
  padding: 22px 10px 26px 26px;
  margin: 0 0 26px;
  max-width: 280px;
}
._feature_2_aihut_r8_crd_ic1,
._feature_2_aihut_r8_crd_ic2,
._feature_2_aihut_r8_crd_ic3 {
  border-radius: 8px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 27px;
}
._feature_2_aihut_r8_crd_ic1 {
  background: #ff977c;
}
._feature_2_aihut_r8_crd_ic2 {
  background: #fec445;
}
._feature_2_aihut_r8_crd_ic3 {
  background: #95dac1;
}
._feature_2_aihut_r8_crd_cont_t {
  font-family: PlusJakartaDisplay;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #1f3428;
  margin: 0 0 6px;
}
._feature_2_aihut_r8_crd_cont_p {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #808f87;
  margin: 0 0 4px;
}
._feature_2_aihut_r8_crd_cont_p1 {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #808f87;
}
/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {
}
@media (max-width: 1399px) {
  ._feature_2_aihut_lft_p {
    max-width: 80%;
  }
  ._feature_2_aihut_r8_crd1,
  ._feature_2_aihut_r8_crd2 {
    max-width: 242px;
  }
}
/* Desktop/Laptop */
@media only screen and (max-width: 1199px) {
  ._feature_2_aihut_lft_t {
    font-size: 40px;
    max-width: 80%;
  }
  ._feature_2_aihut_lft_p {
    max-width: 94%;
  }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
  ._feature_2_aihut_lft_wrap {
    text-align: center;
  }
  ._feature_2_aihut_lft_t {
    font-size: 35px;
    max-width: 100%;
  }
  ._feature_2_aihut_lft_p {
    max-width: 100%;
    font-size: 14px;
  }
  ._feature_2_aihut_lft_a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px;
  }
  ._feature_2_aihut_r8_wrap::before {
    right: 25% !important;
  }
  ._feature_2_aihut_r8_wrap_part1 {
    margin: 40px 0 0;
  }
  ._feature_2_aihut_r8_crd1 {
    margin: 0 0 20px 90px;
  }
  ._feature_2_aihut_r8_crd_ic1,
  ._feature_2_aihut_r8_crd_ic2,
  ._feature_2_aihut_r8_crd_ic3 {
    margin: 0 0 15px;
  }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
  ._feature_2_aihut_wrapper {
    padding: 20px 0 70px;
  }
  ._feature_2_aihut_lft_t {
    font-size: 30px;
  }
  ._feature_2_aihut_r8_wrap::before {
    right: 14% !important;
  }
  ._feature_2_aihut_r8_crd1 {
    margin: 0 0 20px 0;
  }
}
/* Mobile */
@media only screen and (max-width: 575px) {
  ._feature_2_aihut_r8_crd_ic1,
  ._feature_2_aihut_r8_crd_ic2,
  ._feature_2_aihut_r8_crd_ic3 {
    margin: 0 0 10px;
  }
  ._feature_2_aihut_r8_crd1,
  ._feature_2_aihut_r8_crd2 {
    margin: 0 0 15px 0;
  }
}
@media only screen and (max-width: 420px) {
  ._feature_2_aihut_lft_t {
    font-size: 24px;
  }
  ._feature_2_aihut_lft_p {
    font-size: 13px;
  }
  ._feature_2_aihut_r8_wrap::before {
    right: 1% !important;
  }
  ._feature_2_aihut_r8_crd_cont_t {
    font-size: 12px;
  }
  ._feature_2_aihut_r8_crd_cont_p,
  ._feature_2_aihut_r8_crd_cont_p1 {
    font-size: 13px;
  }
}
@media only screen and (max-width: 375px) {
  ._feature_2_aihut_r8_crd_cont_p,
  ._feature_2_aihut_r8_crd_cont_p1 {
    font-size: 11px;
  }
  ._feature_2_aihut_r8_wrap::before {
    background-size: 100%;
    width: 290px;
  }
  ._feature_2_aihut_r8_crd_cont_t {
    font-size: 10px;
  }
  ._feature_2_aihut_r8_crd_cont_p,
  ._feature_2_aihut_r8_crd_cont_p1 {
    font-size: 9px;
  }
  ._feature_2_aihut_r8_wrap_part1 {
    margin: 26px 0 0;
  }
  ._feature_2_aihut_r8_wrap_part2 {
    margin: 16px 0 0;
  }
}
/*feature_2 aihut section end*/

/*footer aihut section*/
._footer_2_aihut_wrapper {
  background: #001f0e;
  padding: 45px 0;
}
._footer_2_aihut_menu_t {
  font-family: PlusJakartaDisplay;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  margin: 0 0 20px;
}
._footer_2_aihut_menu_li {
  margin: 0 0 12px;
  list-style: none;
}
._footer_2_aihut_menu_li:last-child {
  margin: 0;
}
._footer_2_aihut_menu_itm {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #808f87;
  display: inline-block;
  transition: 0.2s all ease;
}
._footer_2_aihut_menu_itm:hover {
  color: #fff;
}
._footer_2_aihut_menu_itm._contact {
  display: flex;
  align-items: center;
}
._footer_2_aihut_menu_itm_img {
  max-width: 73px;
  margin: 0 0 0 8px;
}
._footer_2_aihut_menu_itm._lang {
  display: flex;
  align-items: center;
}
._footer_2_aihut_menu_itm_sp {
  background-image: url("../../assets/img/footer/footer_2_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 108px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  margin: 0 0 0 3px;
}
._footer_2_aihut_logo_wrap {
  margin: 80px 0 0;
}
._footer_2_aihut_cont {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #808f87;
}
._footer_2_aihut_cont_sp {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
}
._footer_2_aihut_logo_img {
  max-width: 94px;
}
._footer_2_aihut_social_ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
._footer_2_aihut_social_li {
  margin: 0 0 0 18px;
}
._footer_2_aihut_social_li:first-child {
  margin: 0;
}
._footer_2_aihut_social_itm {
  background: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
}
._footer_2_aihut_social_itm:hover {
  border-color: #fff;
  background: transparent;
}
._footer_2_aihut_social_itm svg {
  transition: 0.2s all ease;
}
._footer_2_aihut_social_itm svg path {
  transition: 0.2s all ease;
}
._footer_2_aihut_social_itm:hover svg path {
  fill: #fff;
}
/* responsive css */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {
}
@media (max-width: 1399px) {
}
/* Desktop/Laptop */
@media only screen and (max-width: 1199px) {
  ._footer_2_aihut_menu_itm {
    font-size: 12px;
  }
  ._footer_2_aihut_cont_sp {
    font-size: 15px;
  }
  ._footer_2_aihut_cont {
    font-size: 15px;
  }
}
/* Ipad pro */
@media only screen and (max-width: 991px) {
  ._footer_2_aihut_cont {
    text-align: right;
  }
  ._footer_2_space {
    margin: 40px 0 0;
  }
  ._footer_2_aihut_logo_wrap {
    margin: 60px 0 0;
  }
}
/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {
  ._footer_2_space1 {
    margin: 40px 0 0;
  }
  ._footer_2_aihut_cont {
    font-size: 13px;
  }
  ._footer_2_aihut_social_ul {
    justify-content: flex-start;
    margin: 20px 0 0;
  }
  ._footer_2_aihut_cont {
    text-align: left;
    margin-top: 20px;
  }
}
/* Mobile */
@media only screen and (max-width: 575px) {
}
@media only screen and (max-width: 420px) {
}
@media only screen and (max-width: 375px) {
}
/*footer aihut section end*/

/* 
Website 2 ended  
*/
