/*-----------------------
    Common CSS
-------------------------*/

* {
  margin: 0px;
  padding: 0px;
}

html {
  color: var(--color2);
  padding: 0px;
  margin: 0 auto;
  font-weight: 400;
}

body {
  margin: 0px auto;
  padding: 0px;
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  padding: 0;
  margin: 0px;
}

textarea {
  resize: none !important;
}

button,
select {
  cursor: pointer;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
  display: block;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

._toggler {
  box-shadow: none !important;
  border: none !important;
}

._toggler.collapsed .navbar-toggler-icon {
  background-image: url(../../assets/img/toggler.svg) !important;
  transition: 0.1s all ease-in-out;
}

._toggler .navbar-toggler-icon {
  background-image: url(../../assets/img/cross.svg) !important;
  transition: 0.1s all ease-in-out;
}

.dropdown-toggle::after {
  display: none;
}

/*-----------------------
  Common CSS
-------------------------*/

/*-----------------------
  Website 1 starts
-------------------------*/

._hero_1_root_wrapper {
  background: var(--bg2);
}

._logo_wrap {
  max-width: 100px;
}

._nav_logo {
  display: inline-block;
}

._hero_1_root_nav {
  margin-left: 20px;
}

._hero_1_root_nav_right {
  align-items: center;
  margin-left: auto;
}

._hero_1_root_navbar {
  background: transparent !important;
  padding: 20px 0 0;
}

._hero_1_root_nav_item {
  margin: 0 10px;
}

._hero_1_root_nav_link {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #2a3052 !important;
}

._hero_1_root_nav_link:hover {
  color: var(--color2) !important;
}

._active {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #2a3052 !important;
}

._trial_btn {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #f8faff !important;
  background: linear-gradient(90deg, #2a50ff 0%, #2a89ff 100%);
  border-radius: 4px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
}

._login {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color) !important;
}

._hero_1_root_wrap {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

._hero_1_root_pattern_wrap {
  max-width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

._hero_1_root_left_wrap {
  position: relative;
  z-index: 10;
}

._hero_1_root_left_subhead {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #080809;
}

._hero_1_root_left_head {
  font-family: Inter;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #0e1536;
  margin: 16px 0 20px;
}

._hero_1_root_left_txt {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--color2);
  margin: 20px 0 40px;
  max-width: 80%;
}

._hero_1_root_left_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #f8faff;
  background: linear-gradient(90deg, #2a50ff 0%, #2a89ff 100%);
  border-radius: 4px;
  width: 170px;
  padding: 20px;
  transition: 0.2s all ease;
  margin: 40px 0 0;
}

._hero_1_root_left_btn:hover {
  color: var(--bg2);
  transform: scale(1.1);
}

._hero_1_root_right_wrap {
  position: relative;
  z-index: 10;
}

._hero_1_root_right_img_wrap {
  margin-right: -80px;
  box-shadow: -50px 60px 200px -49px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

/*--------------
  Responsive
---------------*/

/* Desktop/Laptop */

@media only screen and (max-width: 1500px) {
  ._hero_1_root_right_img_wrap {
    margin-right: -30px;
  }
}

@media (max-width: 1399px) {
  ._hero_1_root_right_img_wrap {
    margin-right: -50px;
  }
}

/* Desktop/Laptop */

/* Ipad pro */

@media only screen and (max-width: 1199px) {
}

/* Ipad pro */

@media only screen and (max-width: 991px) {
  ._hero_1_root_nav {
    margin-left: 0;
  }
  ._hero_1_root_nav_item {
    margin: 10px 0;
  }
  ._hero_1_root_nav_link {
    width: fit-content;
    margin: 0 auto;
  }
  .dropdown-item {
    text-align: center;
  }
  .dropdown-menu {
    width: fit-content;
    margin: 0 auto;
    transition: 0.2s all ease;
  }
  .dropdown-menu.show {
    transition: 0.2s all ease;
  }
  ._hero_1_root_left_wrap {
    text-align: center;
  }
  ._hero_1_root_left_txt {
    margin: 20px auto 40px;
  }
  ._hero_1_root_left_btn {
    margin: 40px auto 0;
  }
  ._hero_1_root_right_wrap {
    margin: 20px 0 0;
  }
  ._hero_1_root_right_img_wrap {
    margin-right: 0;
  }
}

/* Ipad pro */

/* Ipad/Mobile L */

@media only screen and (max-width: 767px) {
  ._hero_1_root_left_txt {
    max-width: 100%;
  }
}

/* Ipad/Mobile L */

/* Mobile */

@media only screen and (max-width: 575px) {
  ._hero_1_root_left_head {
    font-size: 46px;
    margin: 8px 0 10px;
  }
  ._hero_1_root_left_txt {
    margin: 10px auto 20px;
  }
  ._hero_1_root_right_img_wrap {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 420px) {
  ._hero_1_root_left_head {
    font-size: 34px;
  }
  ._hero_1_root_wrap {
    padding: 50px 0 0;
  }
  ._hero_1_root_right_img_wrap {
    max-width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  ._hero_1_root_right_img_wrap {
    max-width: 100%;
  }
}

/* Mobile */

/*------------------
  Responsive Ends
------------------*/

/*-----------------------
    Collaboration start
-------------------------*/

._collab_1_root_sec {
  padding: 80px 0 0;
}

._collab_1_root_title {
  font-family: Inter;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--color);
}

._collab_1_root_txt {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--color2);
  margin: 12px 0 0;
}

._collab_1_root_card1_ic_wrap {
  max-width: 57px;
  background: #d7ecff;
  border-radius: 10px;
  padding: 16px;
}

._collab_1_root_card2_ic_wrap {
  max-width: 57px;
  background: #f9edc4;
  border-radius: 10px;
  padding: 16px;
}

._collab_1_root_card3_ic_wrap {
  max-width: 57px;
  background: #c0dcda;
  border-radius: 10px;
  padding: 16px;
}

._collab_1_root_card_con {
  margin: 30px 0 0;
}

._collab_1_root_card_wrap {
  margin: 50px 0 0;
}

._collab_1_root_card {
  border: 1.2px solid #eae9f0;
  box-sizing: border-box;
  border-radius: 12px;
  transition: 0.2s all ease;
  margin: 20px 0;
  height: calc(100% - 30px);
}

._collab_1_root_card:hover {
  background: #ffffff;
  box-shadow: 0px 50px 80px -10px rgba(0, 4, 19, 0.06);
  border: 1.2px solid transparent;
}

._collab_1_root_card_inner {
  padding: 40px;
}

._collab_1_root_card_con_title {
  font-family: Inter;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #192140;
  margin: 0 0 15px;
}

._collab_1_root_card_con_txt {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: var(--color2);
  margin: 15px 0 24px;
}

._collab_1_root_card_con_link {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #9ea2b1;
}

._collab_1_root_card_con_link:hover {
  color: #3e62fe !important;
}

._collab_1_root_card_con_link svg {
  margin-left: 5px;
}

._collab_1_root_card_con_link svg path {
  transition: 0.2s all ease;
}

._collab_1_root_card_con_link:hover svg path {
  fill: #3e62fe;
}

/*--------------
  Responsive
---------------*/

/* Desktop/Laptop */

@media only screen and (max-width: 1500px) {
}

@media (max-width: 1399px) {
}

/* Desktop/Laptop */

/* Ipad pro */

@media only screen and (max-width: 1199px) {
  ._collab_1_root_card_inner {
    padding: 30px;
  }
}

/* Ipad pro */

@media only screen and (max-width: 991px) {
  ._collab_1_root_title {
    font-size: 44px;
  }
  ._collab_1_root_card {
    max-width: 90%;
    margin: 20px auto;
  }
}

/* Ipad pro */

/* Ipad/Mobile L */

@media only screen and (max-width: 767px) {
  ._collab_1_root_card {
    max-width: 70%;
  }
}

/* Ipad/Mobile L */

/* Mobile */

@media only screen and (max-width: 575px) {
  ._collab_1_root_title {
    font-size: 38px;
  }
}

@media only screen and (max-width: 420px) {
  ._collab_1_root_title {
    font-size: 32px;
  }
  ._collab_1_root_card {
    max-width: 90%;
  }
}

@media only screen and (max-width: 375px) {
  ._collab_1_root_card {
    max-width: 100%;
  }
}

/* Mobile */

/*------------------
  Responsive Ends
------------------*/

/*-----------------------
  Collaboration ends
-------------------------*/

/*-----------------------
  Website 1 ends
-------------------------*/
